.header-right-align {
    float: right;
}

.container {
    z-index: 220;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid #fff;
    background: #fff;
}

.container-header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 1280px;
    height: 72px;
    padding: 0 24px;
    margin: 0 auto;
    line-height: 72px;
    background-color: #fff;
    font-size: 16px;
}

.conatiner-left-logo {
    flex: 1;
    position: relative;
    top: 0;
}

.conatiner-right-nav {
    flex: none;
}

nav.u-reset, ol.u-reset, ul.u-reset {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.u-inlineBlock.u-inlineBlock {
    display: inline-block;
}

.container-right-items {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.item {
    /* float: left; */
    position: relative;
    display: inline-block;
    padding: 0 12px;
    /* line-height: 1; */
}

.item a{
    display: inline-block;
    vertical-align: middle;
}

.faSearch {
    color: #337ab7;
}

.faPlusCircle {
    color: #337ab7;
}

a:focus, a:hover {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

.fa-logo {
    text-decoration: none;
    cursor: pointer;
}
